default: &default
  adapter: postgresql
  encoding: unicode
  username: postgres
  host: db
  pool: 5

development:
  <<: *default
  database: grade_api_development

test:
  <<: *default
  database: grade_api_test

production:
  <<: *default
  database: grade_api
